
.card-content{
    background-color: #212121;
    text-align: center;
    font-size: 30px;
    color:#fffde7;

}
#title{
    color: #f9fbe7;
    text-align: center;
    font-family:  "Beaufort for LOL", serif;
}
html{
    background-color: white;
}
nav{
    background-color:#2E2E2E;
}

#champion_name{
    font-size: 90px;
    color: #f9fbe7;
    text-align: center;
    font-family:  "Beaufort for LOL", serif;
    margin-top: 3px;
}
#role{
    font-family: "Beaufort for LOL", serif;
    color: gray;
    font-size: 50px;
    margin-left: 90px;
    margin-top: 80px;
    margin-bottom: -25px;

}
#runes{
    margin-left: 140px;
}
#heading{
    color: #212121;
    text-align: center;
}
a{
    color: white;
    font-family: "Beaufort for LOL", serif;
    font: 12.0 em;

}
.card-content{
    background-color:rgb(6, 28, 37);
    
}


